/*overall css styles through all pages*/


.mini-logo{
  float: left;

}

.column.left-column {
  position: fixed;
  left:0px;
  max-width: 50%;
}

.column.right-column {
padding-left:55%;
padding-right:10%;
padding-top: 50px;
max-width: 100%;
}



h1{
  padding-top:5%;
  text-align: center;
  letter-spacing: 3px;

}

h2{
  text-align: center;
  letter-spacing: 3px;
}

.social-media{
padding-bottom: 5%;
}

/*
----------------------------------------------------------------------------------------------------
 HOMEPAGE STYLES
----------------------------------------------------------------------------------------------------
*/



/*
----------------------------------------------------------------------------------------------------
 ABOUT STYLES
----------------------------------------------------------------------------------------------------
*/

.about-body{text-align: justify;}

ul {
  padding-left: 5%;
}

/*
----------------------------------------------------------------------------------------------------
 DISOGRAPHY STYLES
----------------------------------------------------------------------------------------------------
*/

/*
----------------------------------------------------------------------------------------------------
 MEDIA STYLES
----------------------------------------------------------------------------------------------------
*/

.mini-logov2{
  float: left;
  padding-top: 5%;
  padding-left: 5%;
}



/*
----------------------------------------------------------------------------------------------------
 MERCH STYLES
----------------------------------------------------------------------------------------------------
*/




/*
----------------------------------------------------------------------------------------------------
 TOUR DATES STYLES
----------------------------------------------------------------------------------------------------
*/

th, td {
    padding: 5px;
}
